.relative_slide {
  top:0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.img_slider {
  top:0;
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.title_slider{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.685);
  bottom: 0;
  width: 100%;
  padding: 10px;
  z-index: 10000;
  color: white;
}

.index {
  z-index: -1;
}